.center {
    text-align: center;
}

.title {
    font-size: 2.5em;
}

.header {
    margin: 1em 0;
}

.content {
    text-align: justify;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    margin-bottom: 1em
}

.content p, .content ol {
    margin: 1.25em 0
}

.content img {
    width: 100%
}
